.cart {
  width: 90vw;
  max-width: 1024px;
  margin: 2rem auto;
}
header h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #333;
}

/* cart empty */
.cart-empty {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.cart-empty h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
}

.cart-empty svg {
  font-size: 3rem;
}

/* footer */

footer {
  text-align: center;
  margin-top: 2rem;
}
.amount-total {
  margin-top: 1.25rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount-total h4 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.clear-item {
  background: #333;
  color: #fff;
  border: transparent;
  outline: none;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  letter-spacing: 0.25rem;
  cursor: pointer;
  transition: var(--transition);
  font-weight: bold;
}

.clear-item:hover {
  background: #d85258;
}
