.cart-pic {
  width: 200px;
  height: 16rem;
  object-fit: cover;
  box-shadow: 3px 3px 4px #333;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 1.5rem;
  margin: 2rem 0;
}

.cart-item h4 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.price {
  color: rgb(46, 43, 43);
}

.remove-btn {
  background: transparent;
  border: transparent;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.amount-btn {
  background: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.amount-btn svg {
  font-size: 2rem;
}

.amount-item {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5rem;
}

/* responsive design */
@media (max-width: 414px) {
  .cart-pic {
    width: 150px;
    height: 14rem;
  }
  .cart-item {
    column-gap: 0.875rem;
  }
}

/* responsive design */
@media (min-width: 768px) {
  .cart-pic {
    width: 250px;
    height: 20rem;
  }
  .cart-item {
    column-gap: 3rem;
  }
}
