.cart {
  width: 90vw;
  max-width: 1024px;
  margin: 0 auto;
  /* add height */
  margin-top: 40px;
}

header h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.cart footer {
  margin: 3rem 0;
  text-align: center;
}

.cart-total h4 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn {
  display: inline-block;
  background: rgb(51, 51, 51);
  border: transparent;
  outline: none;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: var(--transition);
  cursor: pointer;
}

.clear-btn:hover {
  background: rgb(0, 0, 0);
}

/* empty */
.empty-cart {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: rgb(58, 58, 58);
}
